<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chart.js Example</title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='home3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">

  </head>
  <body>

    <script src='static/navbar.js'></script>
    <div class="content">
    <div id="chart">
    <canvas id="myChart" width="800" height="600"></canvas>
    <script>
      Chart.defaults.global.responsive = false;

      var holder = document.getElementById("myChart");
      var ctx = document.getElementById("myChart").getContext("2d");
      var myChart = new Chart(ctx, {
        type: 'scatter',
        data: {
          datasets: [{
            label: 'Scatter Dataset',
            data: {{ data }},
            showLine: false,
            borderColor: "orange",
            backgroundColor: "orange",
            pointRadius: 10,
            pointHoverRadius: 10,
          }]
        },
        options: {
          scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Percent of Fund in Index'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Weighted Discount'
              }
            }]
          },
          legend: {
            display: false
          },
          hover: {mode: null},
          tooltips: {
            callbacks: {
              title: function(item, data) {
                console.log({{ data }}[item[0].index])
                var effective = Math.round({{ data }}[item[0].index].effective*100)/100
                return [`Percent Index: ${Math.round(item[0].xLabel *100)/100}%`,`Weighted Discount: ${Math.round(item[0].yLabel *100)/100}%`,`Weighted Effective Leverage ${effective}%`]
                ;
              },
              label: function(item, data) {

                var datasetLabel = item.xLabel || "";
                var dataPoint = item.yLabel;
                return "";
              }
            }
          }
        }
      });

      holder.onclick = function(evt){
        var activePoint = myChart.getElementAtEvent(evt);
        window.location = "/home2?index=" + {{ data }}[activePoint[0]._index].which
      };
    </script>
  </div>
</div>
  </body>
</html>
